fluxos/capitulo7/SQLite_3_flow.json
[
    {
        "id": "9d7df0ecf0b407c5",
        "type": "tab",
        "label": "SQLite 3",
        "disabled": false,
        "info": "Este fluxo utiliza o banco de dados 'GNR 2',\r\ncriado previamente, no qual existe uma \r\ntabela 'professores' criada como segue:\r\n`CREATE TABLE \"professor\" (\r\n\t\"id\"\tINTEGER,\r\n\t\"re\"\tINTEGER,\r\n\t\"nome\"\tTEXT,\r\n\tPRIMARY KEY(\"id\")\r\n)`\r\nO nó sqlite 'GNR 2 | Query via msg.topic'\r\nrecebe os comandos sql por meio da propriedade\r\ntopic da mensagem, mas admite a parametrização\r\ncom uso de um array de valores disposto em\r\nmsg.params, como feito pelo nó inject \r\n'Dados + SQL'.\r\n\r\nO nó sqlite 'GNR 2 | Query Prepared Statement'\r\nusa um comando sql fixo, também admite a \r\nparametrização com um array de valores \r\ncolocado em msg.params, como feito pelo \r\nnó inject 'Dados'.\r\n\r\nEmbora seja possível a inclusão de muitos \r\nregistros, o nó inject 'Delete All' envia\r\num comando delete para remover todos os\r\nregistros existentes.\r\n",
        "env": []
    },
    {
        "id": "c680bcc40a8e0b69",
        "type": "sqlite",
        "z": "9d7df0ecf0b407c5",
        "mydb": "5014182572c4952a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "GNR 2 | Query via msg.topic",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "70e4f8501be2fccc"
            ]
        ]
    },
    {
        "id": "66ebf45ff06f7f91",
        "type": "inject",
        "z": "9d7df0ecf0b407c5",
        "name": "Dados + SQL",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "insert into professor(re, nome) values ($1, $2)",
        "payload": "[12345,\"Peter Jandl\"]",
        "payloadType": "json",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "c680bcc40a8e0b69"
            ]
        ]
    },
    {
        "id": "ab4c70ee9790a66f",
        "type": "inject",
        "z": "9d7df0ecf0b407c5",
        "name": "Dados",
        "props": [
            {
                "p": "params",
                "v": "{\"$re\":12345,\"$nome\":\"Peter Jandl\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "5a70c9cee0d51b9b"
            ]
        ]
    },
    {
        "id": "5a70c9cee0d51b9b",
        "type": "sqlite",
        "z": "9d7df0ecf0b407c5",
        "mydb": "5014182572c4952a",
        "sqlquery": "prepared",
        "sql": "insert into professor(re, nome) values ($re, $nome)",
        "name": "GNR 2 | Query Prepared Statement",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "70e4f8501be2fccc"
            ]
        ]
    },
    {
        "id": "363d959adab26a8c",
        "type": "inject",
        "z": "9d7df0ecf0b407c5",
        "name": "Delete All",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "delete from professor",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "c680bcc40a8e0b69"
            ]
        ]
    },
    {
        "id": "70e4f8501be2fccc",
        "type": "debug",
        "z": "9d7df0ecf0b407c5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "5014182572c4952a",
        "type": "sqlitedb",
        "db": "flows/capitulo7/GNR_2.db",
        "mode": "RW"
    }
]