fluxos/capitulo4/Atrasos_flow.json
[
    {
        "id": "3a825436e9114006",
        "type": "tab",
        "label": "Atrasos",
        "disabled": false,
        "info": "A funcionalidade básica do nó delay é \r\napresentada nestes fluxos, que mostram\r\nseus dois modos de funcionamento:\r\n - atrasar cada mensagem, e\r\n - limitar taxa (de passagem de mensagens).\r\n ",
        "env": []
    },
    {
        "id": "d801c148a7736673",
        "type": "inject",
        "z": "3a825436e9114006",
        "name": "Timer",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "91516a2b9d143d16"
            ]
        ]
    },
    {
        "id": "91516a2b9d143d16",
        "type": "function",
        "z": "3a825436e9114006",
        "name": "Variador",
        "func": "let espera = context.get(\"espera\");\nespera--;\nif (espera > 0) {\n    context.set(\"espera\", espera);\n    return null;\n}\nespera = Math.ceil(Math.random() * 10);\ncontext.set(\"espera\", espera);\nmsg.payload = espera;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"espera\", 0);",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 80,
        "wires": [
            [
                "e613efcade7c51fc",
                "ed107eaac6da933d"
            ]
        ]
    },
    {
        "id": "e613efcade7c51fc",
        "type": "delay",
        "z": "3a825436e9114006",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "ed107eaac6da933d"
            ]
        ]
    },
    {
        "id": "ed107eaac6da933d",
        "type": "debug",
        "z": "3a825436e9114006",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "645f987d6f2c7173",
        "type": "comment",
        "z": "3a825436e9114006",
        "name": "Atraso fixo",
        "info": "Neste fluxo, o nó inject funciona como um\ntemporizador, enviando uma mensagem a cada \nsegundo para que nó function controle a\nprodução de mensagens com um intervalo \nvariável (aleatório) de [1,10] segundos.\n\nO nó delay introduz um atraso fixo de \n5 segundos em cada mensagem, perceptível\nno nó debug, que mostra a mensagem no \ninstante que é produzida e depois de \natrasada.",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "73426a7ec39d5862",
        "type": "delay",
        "z": "3a825436e9114006",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "6",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "1218a836bf920948"
            ]
        ]
    },
    {
        "id": "756b54c9493834cf",
        "type": "debug",
        "z": "3a825436e9114006",
        "name": "Entrada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "b98f4b1350898467",
        "type": "comment",
        "z": "3a825436e9114006",
        "name": "Taxa constante",
        "info": "Neste fluxo, o nó inject gera uma\nmensagem contendo um inteiro aleatório \nentre [1, 10] no payload a cada segundo\nentregue diretamente para o nó delay, que \nestá configurado para garantir uma taxa de \npassagem de mensagens de 2msg/6s, \narmazenando internamente as mensagens em \numa fila, liberando-as de maneira a \ngarantir a taxa configurada.\n\nOs nós debug mostram a mensagem no \ninstante de sua produção ('Entrada') e \ndepois do nó delay ('Saída').",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "1218a836bf920948",
        "type": "debug",
        "z": "3a825436e9114006",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "329de3e9da1f73e7",
        "type": "inject",
        "z": "3a825436e9114006",
        "name": "Timer",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$ceil($random()*10)",
        "payloadType": "jsonata",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "756b54c9493834cf",
                "73426a7ec39d5862"
            ]
        ]
    }
]