fluxos/capitulo4/Multicanal_2_flow.json
[
    {
        "id": "3ce8b9de3db16f0f",
        "type": "tab",
        "label": "Multicanal 2",
        "disabled": false,
        "info": "Fluxo que exemplifica separação e a \r\ntotalização de dados de vários canais\r\nrecebidos em um canal combinado.\r\nO msg.payload contém o dado do canal, \r\nenquanto msg.seletor contém sua \r\nidentificação.\r\n\r\nTambém mostra a conveniência do uso de \r\nligações virtuais providas pelos nós \r\nlink_in e link_out.\r\n\r\nO nó switch separa os dados dos canais,\r\ncujos valores recebidos são totalizados \r\npor nós function e exibidos separadamente.\r\n\r\nTambém é feita a totalização dos dados dos \r\ncanais pares e ímpares. Um inject envia \r\numa mensagem que reinicializa os\r\ntotalizadores.",
        "env": []
    },
    {
        "id": "32abe02afd221c1d",
        "type": "inject",
        "z": "3ce8b9de3db16f0f",
        "name": "Dados Multicanal",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "seletor",
                "v": "$ceil($random()*7)",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$random()*10",
        "payloadType": "jsonata",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "49da0cf675487a99",
                "1c74fd4768c2cfd3"
            ]
        ]
    },
    {
        "id": "1a1209f40fea7a10",
        "type": "debug",
        "z": "3ce8b9de3db16f0f",
        "name": "Canal 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 40,
        "wires": []
    },
    {
        "id": "49da0cf675487a99",
        "type": "switch",
        "z": "3ce8b9de3db16f0f",
        "name": "Seletor",
        "property": "seletor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "44fde2e0071c1bfa"
            ],
            [
                "c0bc7acc398d4585"
            ],
            [
                "42704253b07c0705"
            ],
            [
                "2e480cb5a72b93aa"
            ],
            [
                "029b318bfff9d6b5"
            ],
            [
                "400cb5673abfd230"
            ],
            [
                "82e2e3509c2d4469"
            ]
        ]
    },
    {
        "id": "8ac3c0d3bc587cb1",
        "type": "function",
        "z": "3ce8b9de3db16f0f",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 40,
        "wires": [
            [
                "1a1209f40fea7a10",
                "b2456773ac9f2463"
            ]
        ]
    },
    {
        "id": "37a4dd6eb2bcafc6",
        "type": "function",
        "z": "3ce8b9de3db16f0f",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            [
                "36189d4c51207df5",
                "2ebccd0e935b91bb"
            ]
        ]
    },
    {
        "id": "8d52b9353a96021c",
        "type": "function",
        "z": "3ce8b9de3db16f0f",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 160,
        "wires": [
            [
                "01dc09d2b52b4844",
                "555430798c521750"
            ]
        ]
    },
    {
        "id": "f6d11637a134215e",
        "type": "function",
        "z": "3ce8b9de3db16f0f",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "2a1ebb96d26ee59c",
                "c1bac32794607e9a"
            ]
        ]
    },
    {
        "id": "5487ca1d139017d3",
        "type": "function",
        "z": "3ce8b9de3db16f0f",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "10c2c4902df58762",
                "08f5d4c58000a906"
            ]
        ]
    },
    {
        "id": "78efc8eb17c815bf",
        "type": "function",
        "z": "3ce8b9de3db16f0f",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 340,
        "wires": [
            [
                "11a7a1f32d5d762f",
                "c6e4925ba7079a88"
            ]
        ]
    },
    {
        "id": "36189d4c51207df5",
        "type": "debug",
        "z": "3ce8b9de3db16f0f",
        "name": "Canal 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "01dc09d2b52b4844",
        "type": "debug",
        "z": "3ce8b9de3db16f0f",
        "name": "Canal 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "2a1ebb96d26ee59c",
        "type": "debug",
        "z": "3ce8b9de3db16f0f",
        "name": "Canal 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "10c2c4902df58762",
        "type": "debug",
        "z": "3ce8b9de3db16f0f",
        "name": "Canal 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "11a7a1f32d5d762f",
        "type": "debug",
        "z": "3ce8b9de3db16f0f",
        "name": "Canal 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "34c17bd6a1d4969a",
        "type": "inject",
        "z": "3ce8b9de3db16f0f",
        "name": "Reset",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "9ebe30bee5845e9d"
            ]
        ]
    },
    {
        "id": "fb6e77e30f61bdbc",
        "type": "function",
        "z": "3ce8b9de3db16f0f",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "b942c1f32389fb6a"
            ]
        ]
    },
    {
        "id": "b942c1f32389fb6a",
        "type": "debug",
        "z": "3ce8b9de3db16f0f",
        "name": "Erros",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "dc027b5ca47b598e",
        "type": "function",
        "z": "3ce8b9de3db16f0f",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 460,
        "wires": [
            [
                "ab001090ec03d554"
            ]
        ]
    },
    {
        "id": "08720d38b2cf32c1",
        "type": "function",
        "z": "3ce8b9de3db16f0f",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "f907edba6d4f2fd6"
            ]
        ]
    },
    {
        "id": "ab001090ec03d554",
        "type": "debug",
        "z": "3ce8b9de3db16f0f",
        "name": "Ímpares",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "f907edba6d4f2fd6",
        "type": "debug",
        "z": "3ce8b9de3db16f0f",
        "name": "Pares",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "1c74fd4768c2cfd3",
        "type": "debug",
        "z": "3ce8b9de3db16f0f",
        "name": "Seletor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "seletor",
        "targetType": "msg",
        "statusVal": "seletor",
        "statusType": "auto",
        "x": 100,
        "y": 100,
        "wires": []
    },
    {
        "id": "44fde2e0071c1bfa",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "4685cd59bb0be235"
        ],
        "x": 295,
        "y": 40,
        "wires": []
    },
    {
        "id": "c0bc7acc398d4585",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "4e02335a17d658af"
        ],
        "x": 295,
        "y": 100,
        "wires": []
    },
    {
        "id": "42704253b07c0705",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "85ee4bb882360cb9"
        ],
        "x": 295,
        "y": 160,
        "wires": []
    },
    {
        "id": "2e480cb5a72b93aa",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "b1d1b287817f50ba"
        ],
        "x": 295,
        "y": 220,
        "wires": []
    },
    {
        "id": "029b318bfff9d6b5",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "5ab9f233f2e6dacf"
        ],
        "x": 295,
        "y": 280,
        "wires": []
    },
    {
        "id": "400cb5673abfd230",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "f7549e98d84cdef9"
        ],
        "x": 295,
        "y": 340,
        "wires": []
    },
    {
        "id": "82e2e3509c2d4469",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out Err",
        "mode": "link",
        "links": [
            "a0547359ebaf991d"
        ],
        "x": 295,
        "y": 400,
        "wires": []
    },
    {
        "id": "4685cd59bb0be235",
        "type": "link in",
        "z": "3ce8b9de3db16f0f",
        "name": "link in 1",
        "links": [
            "44fde2e0071c1bfa",
            "9ebe30bee5845e9d"
        ],
        "x": 385,
        "y": 40,
        "wires": [
            [
                "8ac3c0d3bc587cb1"
            ]
        ]
    },
    {
        "id": "4e02335a17d658af",
        "type": "link in",
        "z": "3ce8b9de3db16f0f",
        "name": "link in 2",
        "links": [
            "c0bc7acc398d4585",
            "9ebe30bee5845e9d"
        ],
        "x": 385,
        "y": 100,
        "wires": [
            [
                "37a4dd6eb2bcafc6"
            ]
        ]
    },
    {
        "id": "85ee4bb882360cb9",
        "type": "link in",
        "z": "3ce8b9de3db16f0f",
        "name": "link in 3",
        "links": [
            "42704253b07c0705",
            "9ebe30bee5845e9d"
        ],
        "x": 385,
        "y": 160,
        "wires": [
            [
                "8d52b9353a96021c"
            ]
        ]
    },
    {
        "id": "b1d1b287817f50ba",
        "type": "link in",
        "z": "3ce8b9de3db16f0f",
        "name": "link in 4",
        "links": [
            "2e480cb5a72b93aa",
            "9ebe30bee5845e9d"
        ],
        "x": 385,
        "y": 220,
        "wires": [
            [
                "f6d11637a134215e"
            ]
        ]
    },
    {
        "id": "5ab9f233f2e6dacf",
        "type": "link in",
        "z": "3ce8b9de3db16f0f",
        "name": "link in 5",
        "links": [
            "029b318bfff9d6b5",
            "9ebe30bee5845e9d"
        ],
        "x": 385,
        "y": 280,
        "wires": [
            [
                "5487ca1d139017d3"
            ]
        ]
    },
    {
        "id": "f7549e98d84cdef9",
        "type": "link in",
        "z": "3ce8b9de3db16f0f",
        "name": "link in 6",
        "links": [
            "400cb5673abfd230",
            "9ebe30bee5845e9d"
        ],
        "x": 385,
        "y": 340,
        "wires": [
            [
                "78efc8eb17c815bf"
            ]
        ]
    },
    {
        "id": "a0547359ebaf991d",
        "type": "link in",
        "z": "3ce8b9de3db16f0f",
        "name": "link in Err",
        "links": [
            "82e2e3509c2d4469",
            "9ebe30bee5845e9d"
        ],
        "x": 385,
        "y": 400,
        "wires": [
            [
                "fb6e77e30f61bdbc"
            ]
        ]
    },
    {
        "id": "460e8cb2a72a8542",
        "type": "link in",
        "z": "3ce8b9de3db16f0f",
        "name": "link in Ímpares",
        "links": [
            "08f5d4c58000a906",
            "555430798c521750",
            "b2456773ac9f2463",
            "9ebe30bee5845e9d"
        ],
        "x": 385,
        "y": 460,
        "wires": [
            [
                "dc027b5ca47b598e"
            ]
        ]
    },
    {
        "id": "19ea5a3f436de59c",
        "type": "link in",
        "z": "3ce8b9de3db16f0f",
        "name": "link in Pares",
        "links": [
            "2ebccd0e935b91bb",
            "c1bac32794607e9a",
            "c6e4925ba7079a88",
            "9ebe30bee5845e9d"
        ],
        "x": 385,
        "y": 520,
        "wires": [
            [
                "08720d38b2cf32c1"
            ]
        ]
    },
    {
        "id": "b2456773ac9f2463",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out T1",
        "mode": "link",
        "links": [
            "460e8cb2a72a8542"
        ],
        "x": 605,
        "y": 60,
        "wires": []
    },
    {
        "id": "2ebccd0e935b91bb",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out T2",
        "mode": "link",
        "links": [
            "19ea5a3f436de59c"
        ],
        "x": 605,
        "y": 120,
        "wires": []
    },
    {
        "id": "555430798c521750",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out T3",
        "mode": "link",
        "links": [
            "460e8cb2a72a8542"
        ],
        "x": 605,
        "y": 180,
        "wires": []
    },
    {
        "id": "c1bac32794607e9a",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out T4",
        "mode": "link",
        "links": [
            "19ea5a3f436de59c"
        ],
        "x": 605,
        "y": 240,
        "wires": []
    },
    {
        "id": "08f5d4c58000a906",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out T5",
        "mode": "link",
        "links": [
            "460e8cb2a72a8542"
        ],
        "x": 605,
        "y": 300,
        "wires": []
    },
    {
        "id": "c6e4925ba7079a88",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out T6",
        "mode": "link",
        "links": [
            "19ea5a3f436de59c"
        ],
        "x": 605,
        "y": 360,
        "wires": []
    },
    {
        "id": "9ebe30bee5845e9d",
        "type": "link out",
        "z": "3ce8b9de3db16f0f",
        "name": "link out Rst",
        "mode": "link",
        "links": [
            "19ea5a3f436de59c",
            "460e8cb2a72a8542",
            "4685cd59bb0be235",
            "4e02335a17d658af",
            "5ab9f233f2e6dacf",
            "85ee4bb882360cb9",
            "a0547359ebaf991d",
            "b1d1b287817f50ba",
            "f7549e98d84cdef9"
        ],
        "x": 185,
        "y": 380,
        "wires": []
    }
]