flows/capitulo5/TCP_Rem_Dest_flow.json
[
    {
        "id": "3a6d034facbe8f9b",
        "type": "tab",
        "label": "Rem/Dest TCP",
        "disabled": false,
        "info": "Os fluxos desta guia mostram aplicações \r\ndiretas dos nós tcp_in e tcp_out.",
        "env": []
    },
    {
        "id": "b041e332b0a0a8e0",
        "type": "inject",
        "z": "3a6d034facbe8f9b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "21cbe3f49fd4c3a9"
            ]
        ]
    },
    {
        "id": "a637a28e194271b8",
        "type": "debug",
        "z": "3a6d034facbe8f9b",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "21cbe3f49fd4c3a9",
        "type": "tcp out",
        "z": "3a6d034facbe8f9b",
        "name": "",
        "host": "localhost",
        "port": "6464",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "284a62b0f67ad113",
        "type": "tcp in",
        "z": "3a6d034facbe8f9b",
        "name": "",
        "server": "server",
        "host": "",
        "port": "6464",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "a637a28e194271b8"
            ]
        ]
    },
    {
        "id": "8da59aa1d9321a3d",
        "type": "inject",
        "z": "3a6d034facbe8f9b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Wunderbar!!",
        "payloadType": "str",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "541da58d24884243"
            ]
        ]
    },
    {
        "id": "541da58d24884243",
        "type": "tcp out",
        "z": "3a6d034facbe8f9b",
        "name": "",
        "host": "localhost",
        "port": "6464",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "14d2d70d8997d1be",
        "type": "comment",
        "z": "3a6d034facbe8f9b",
        "name": "Remetente",
        "info": "Nestes fluxos simples, nós inject são\nusados para enviar um timestamp e uma \nstring para um servidor TCP/IP com uso \nde nós tcp_out.",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "479420ed7ca0ade7",
        "type": "comment",
        "z": "3a6d034facbe8f9b",
        "name": "Destinatário",
        "info": "Nestes fluxos simples, um nó tcp_in é \nusado para receber mensagens de um ou \nmais clientes TCP/IP no papel de remetentes. \n\nO nó debug permite mostrar o conteúdo \nrecebido.",
        "x": 110,
        "y": 220,
        "wires": []
    }
]