flows/capitulo5/Websockets_flow.json
[
    {
        "id": "7444e43945e7b63e",
        "type": "tab",
        "label": "WebSockets",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2422de2f727160b",
        "type": "websocket in",
        "z": "7444e43945e7b63e",
        "name": "",
        "server": "",
        "client": "389a59958c9055b1",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "f3821b8a31b17d7f"
            ]
        ]
    },
    {
        "id": "f3821b8a31b17d7f",
        "type": "debug",
        "z": "7444e43945e7b63e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "511cafd00e2729cd",
        "type": "comment",
        "z": "7444e43945e7b63e",
        "name": "WebSocket Remoto",
        "info": "",
        "x": 130,
        "y": 200,
        "wires": []
    },
    {
        "id": "fea73e4c0eece28d",
        "type": "comment",
        "z": "7444e43945e7b63e",
        "name": "WebSocket Local",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "af859330769b8b00",
        "type": "websocket in",
        "z": "7444e43945e7b63e",
        "name": "",
        "server": "de13425c8adeee60",
        "client": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d460898e0f123606",
                "c7a5e2a58c996c86"
            ]
        ]
    },
    {
        "id": "d460898e0f123606",
        "type": "debug",
        "z": "7444e43945e7b63e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "c7a5e2a58c996c86",
        "type": "json",
        "z": "7444e43945e7b63e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "63ae91043340c538"
            ]
        ]
    },
    {
        "id": "fdd70b45d2f35a5c",
        "type": "inject",
        "z": "7444e43945e7b63e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Alô Alô",
        "payloadType": "str",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "ddcead25da354bc4",
                "9524dff9e2c0c3b6"
            ]
        ]
    },
    {
        "id": "fc65cc191ea82db6",
        "type": "inject",
        "z": "7444e43945e7b63e",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"op\":114,\"nome\":\"Fatec Jundiaí\"}",
        "payloadType": "json",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "ddcead25da354bc4",
                "9524dff9e2c0c3b6"
            ]
        ]
    },
    {
        "id": "ddcead25da354bc4",
        "type": "websocket out",
        "z": "7444e43945e7b63e",
        "name": "",
        "server": "",
        "client": "389a59958c9055b1",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "63ae91043340c538",
        "type": "debug",
        "z": "7444e43945e7b63e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "9524dff9e2c0c3b6",
        "type": "websocket out",
        "z": "7444e43945e7b63e",
        "name": "",
        "server": "",
        "client": "eac3f1fcfbefceaa",
        "x": 420,
        "y": 380,
        "wires": []
    },
    {
        "id": "274886efc68b4378",
        "type": "comment",
        "z": "7444e43945e7b63e",
        "name": "WebSocket Local",
        "info": "",
        "x": 420,
        "y": 340,
        "wires": []
    },
    {
        "id": "78127cd94e5160aa",
        "type": "comment",
        "z": "7444e43945e7b63e",
        "name": "WebSocket Remoto",
        "info": "",
        "x": 430,
        "y": 500,
        "wires": []
    },
    {
        "id": "389a59958c9055b1",
        "type": "websocket-client",
        "path": "wss://ws.ifelse.io/",
        "tls": "",
        "wholemsg": "false",
        "hb": "120",
        "subprotocol": "",
        "headers": []
    },
    {
        "id": "de13425c8adeee60",
        "type": "websocket-listener",
        "path": "/gnr/texto",
        "wholemsg": "false"
    },
    {
        "id": "eac3f1fcfbefceaa",
        "type": "websocket-client",
        "path": "/gnr/saida",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "",
        "headers": []
    }
]