fluxos/capitulo3/ControleLog_flow.json
[
    {
        "id": "033893fa692b9103",
        "type": "tab",
        "label": "ControleLog",
        "disabled": false,
        "info": "Este fluxo simula um controle de log que\r\nmantém arquivos de log com o mesmo número \r\nde registros e também um número fixo dos \r\narquivos de log mais recentes. São usados \r\nos nós:\r\n - inject,\r\n - function,\r\n - file out,\r\n - switch,\r\n - exec e \r\n - debug.\r\n \r\nO nó inject simula uma entrada cíclica \r\nde dados. O nó function faz a contagem\r\ndas mensagens de dados, determinando o \r\nnome do arquivo de log que recebe os\r\ndados, assim como o nome do arquivo de\r\nlog que deve ser excluído.\r\nO nó file out grava os dados no arquivo\r\nde log indicado e o nó switch garante que\r\no nó exec seja acionado apenas quando \r\nnecessário para realiza o comando de \r\nremoção dos arquivos de log mais velhos. ",
        "env": []
    },
    {
        "id": "2b06677861ecd77a",
        "type": "junction",
        "z": "033893fa692b9103",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "758e2f1f3b4168ce",
                "41a7c15760e8f43a"
            ]
        ]
    },
    {
        "id": "016e5115010f3cba",
        "type": "junction",
        "z": "033893fa692b9103",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "05d4e9d8cf4c326d",
                "38336fd6b77e06db"
            ]
        ]
    },
    {
        "id": "b238dd8a9eb1f9ed",
        "type": "watch",
        "z": "033893fa692b9103",
        "name": "status.html",
        "files": "./flows/capitulo3/status.html",
        "recursive": "",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "2b06677861ecd77a"
            ]
        ]
    },
    {
        "id": "758e2f1f3b4168ce",
        "type": "debug",
        "z": "033893fa692b9103",
        "name": "Alteração",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "event",
        "statusType": "msg",
        "x": 340,
        "y": 120,
        "wires": []
    },
    {
        "id": "41a7c15760e8f43a",
        "type": "function",
        "z": "033893fa692b9103",
        "name": "function 1",
        "func": "if (msg.event != 'remove') {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 180,
        "wires": [
            [
                "27fec3e510c9af03"
            ]
        ]
    },
    {
        "id": "27fec3e510c9af03",
        "type": "debug",
        "z": "033893fa692b9103",
        "name": "Remoção",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "d8f82e6b26e8d89b",
        "type": "exec",
        "z": "033893fa692b9103",
        "command": "del ",
        "addpay": "del_filename",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 250,
        "y": 560,
        "wires": [
            [
                "e9ac5f58ee7499fb"
            ],
            [
                "09866ac30e6ffdf4"
            ],
            [
                "d63d4283ed5f2a11"
            ]
        ]
    },
    {
        "id": "a284f041b1438e9f",
        "type": "inject",
        "z": "033893fa692b9103",
        "name": "Timer",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "0a7f24e9a716b09e"
            ]
        ]
    },
    {
        "id": "d63d4283ed5f2a11",
        "type": "debug",
        "z": "033893fa692b9103",
        "name": "Código de Retorno",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "0a7f24e9a716b09e",
        "type": "function",
        "z": "033893fa692b9103",
        "name": "Controle",
        "func": "// Atualiza contagem\nvar count = flow.get(\"count\");\nflow.set(\"count\", count + 1);\nmsg.count = count;\n// Determina numeração do arquivo de log\nvar rbf = flow.get(\"recs_by_file\");\nvar num = Math.floor(count / rbf)\n        .toString()\n        .padStart(2, \"0\");\nmsg.filename = \"log\\\\record\" + num + \".log\";\n// Determina numeração do arquivo de log para exclusão\nvar aux = rbf * flow.get(\"files_to_keep\");\nif (count - aux >= 0) {\n        var del = Math.floor((msg.count - aux) / rbf)\n                .toString()\n                .padStart(2, \"0\");\n        msg.del_filename = \"log\\\\record\" + del + \".log\";\n}\n// Retorna mensagem com contagem e nomes dos arquivos\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\nflow.set(\"count\", 0);\nflow.set(\"recs_by_file\", 10);\nflow.set(\"files_to_keep\", 5);",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            [
                "016e5115010f3cba"
            ]
        ]
    },
    {
        "id": "05d4e9d8cf4c326d",
        "type": "file",
        "z": "033893fa692b9103",
        "name": "Logger",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "6cf4f518f7bfb43a"
            ]
        ]
    },
    {
        "id": "6cf4f518f7bfb43a",
        "type": "debug",
        "z": "033893fa692b9103",
        "name": "Arquivo de Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "filename",
        "targetType": "msg",
        "statusVal": "filename",
        "statusType": "auto",
        "x": 460,
        "y": 360,
        "wires": []
    },
    {
        "id": "e9ac5f58ee7499fb",
        "type": "debug",
        "z": "033893fa692b9103",
        "name": "Saída Padrão",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 520,
        "wires": []
    },
    {
        "id": "09866ac30e6ffdf4",
        "type": "debug",
        "z": "033893fa692b9103",
        "name": "Erro Padrão",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "71f656a221e28523",
        "type": "debug",
        "z": "033893fa692b9103",
        "name": "Arquivo de Exclusão",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "del_filename",
        "targetType": "msg",
        "statusVal": "filename",
        "statusType": "auto",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "38336fd6b77e06db",
        "type": "switch",
        "z": "033893fa692b9103",
        "name": "",
        "property": "$exists(del_filename)\t",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "d8f82e6b26e8d89b",
                "71f656a221e28523"
            ]
        ]
    }
]