fluxos/capitulo3/Sensor_flow.json
[
    {
        "id": "512015776fc6e154",
        "type": "tab",
        "label": "Sensor",
        "disabled": false,
        "info": "Fluxo que mostra uma aplicação típica do \r\nnó range. Utiliza os nós:\r\n - inject;\r\n - function;\r\n - range; e\r\n - debug.\r\nO nó inject funciona como um temporizador,\r\nenvia um timestamp por minuto para o nó \r\nfunction, o qual produz um valor aleatório \r\nde temperatura entre [32, 113] na escala \r\nFahrenheit; que será convertido para \r\nescala Celsius [0, 45]. \r\nOs nós debug permitem visualizar as \r\ntemperaturas Fahrenheit e Celsius.\r\n",
        "env": []
    },
    {
        "id": "8b2c0ee99a64456a",
        "type": "inject",
        "z": "512015776fc6e154",
        "name": "Temporizador",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "15a55153113b1c84"
            ]
        ]
    },
    {
        "id": "4edcb2b5da6847a4",
        "type": "debug",
        "z": "512015776fc6e154",
        "name": "Fahrenheit",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "temp",
        "targetType": "msg",
        "statusVal": "temp",
        "statusType": "auto",
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "15a55153113b1c84",
        "type": "function",
        "z": "512015776fc6e154",
        "name": "Sensor Virtual",
        "func": "var min = context.get('temp_min');\nvar max = context.get('temp_max');\nmsg.temp = min + Math.random() * (max - min);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set('temp_min', 32);\ncontext.set('temp_max', 113);",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 140,
        "wires": [
            [
                "4edcb2b5da6847a4",
                "b96582de0ebfccfa"
            ]
        ]
    },
    {
        "id": "7ddc7ec0a6ec4cfc",
        "type": "debug",
        "z": "512015776fc6e154",
        "name": "Celsius",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "temp",
        "targetType": "msg",
        "statusVal": "temp",
        "statusType": "auto",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "b96582de0ebfccfa",
        "type": "range",
        "z": "512015776fc6e154",
        "minin": "32",
        "maxin": "113",
        "minout": "0",
        "maxout": "45",
        "action": "scale",
        "round": false,
        "property": "temp",
        "name": "Conversor F > C",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "7ddc7ec0a6ec4cfc"
            ]
        ]
    }
]