fluxos/capitulo6/Audio_flow.json
[
    {
        "id": "bb42abda2b519687",
        "type": "tab",
        "label": "Audio",
        "disabled": false,
        "info": "Este fluxo mostra o uso do widget audio_out \r\npara:\r\n - reprodução de texto com TTS;\r\n - reprodução de arquivo mp3; e \r\n - reprodução de arquivo wav.\r\n\r\nO nó inject 'texto' envia uma cadeia de \r\ncaracteres para um nó audio_out e um widget \r\ntext; com isso, o nó audio_out, que fica \r\ninvisível na interface de usuário do \r\ndashboard, sintetiza a \r\nfala da mensagem.\r\n\r\nOs nós inject 'mp3' e 'wav' enviam o nome \r\nde um arquivo no respectivo formato e um \r\najuste do nível de volume para um nó \r\nfile_in, que efetua a leitura do arquivo, \r\narmazenando seu conteúdo num buffer enviado \r\nao nó audio_out que realiza sua reprodução, \r\nsinalizada por seu estado.\r\n\r\nEm todos os casos, a reprodução do som \r\nsomente ocorre se a interface de usuário \r\nestiver aberta no browser.\r\n",
        "env": []
    },
    {
        "id": "4f018d508ba8e18b",
        "type": "ui_audio",
        "z": "bb42abda2b519687",
        "name": "",
        "group": "3876c439dca78bda",
        "voice": "Microsoft Maria - Portuguese (Brazil)",
        "always": true,
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "0910d180a6c3f1f4",
        "type": "inject",
        "z": "bb42abda2b519687",
        "name": "texto",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A conversão de texto para fala é um sucesso!",
        "payloadType": "str",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "4f018d508ba8e18b",
                "d8d9ca6f7a0bc539"
            ]
        ]
    },
    {
        "id": "d8d9ca6f7a0bc539",
        "type": "ui_text",
        "z": "bb42abda2b519687",
        "group": "3876c439dca78bda",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mensagem",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "091c7b24896f3ea5",
        "type": "inject",
        "z": "bb42abda2b519687",
        "name": "mp3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "level",
                "v": "50",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "fluxos\\\\capitulo6\\\\A-Tone.mp3",
        "payloadType": "str",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "173f9b5d2c1c0c44"
            ]
        ]
    },
    {
        "id": "1edb0737035ac590",
        "type": "inject",
        "z": "bb42abda2b519687",
        "name": "wav",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "level",
                "v": "50",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "fluxos\\\\capitulo6\\\\boing.wav",
        "payloadType": "str",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "173f9b5d2c1c0c44"
            ]
        ]
    },
    {
        "id": "173f9b5d2c1c0c44",
        "type": "file in",
        "z": "bb42abda2b519687",
        "name": "A-Tone",
        "filename": "payload",
        "filenameType": "msg",
        "format": "stream",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "4f018d508ba8e18b"
            ]
        ]
    },
    {
        "id": "3876c439dca78bda",
        "type": "ui_group",
        "name": "Audio",
        "tab": "a62d47f9055ba8d9",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a62d47f9055ba8d9",
        "type": "ui_tab",
        "name": "GNR 4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]