fluxos/capitulo6/Cores_flow.json
[
    {
        "id": "93a38326c9c9e800",
        "type": "tab",
        "label": "Cores",
        "disabled": false,
        "info": "Este fluxo mostra a utilização do colour_picker \r\nna seleção de uma cor que pode ser utilizada \r\nno ajuste dinâmico de outros componentes \r\npresentes no dashboard, entre outras \r\npossibilidades. A cor selecionada é exibida \r\npor um widget text.\r\n\r\nO ajuste dinâmico de cores nos widgets \r\nrequer o uso do formato de string rgb(r,g,b) \r\ne um nó change para colocar \r\ntal informação na propriedade determinada \r\npara este fim, no caso, background, \r\nespecificada na configuração do button \r\nexistente para que seja possível a troca \r\nde sua cor. Este button realiza um preset \r\ndo colour_picker, isto é, seu ajuste para \r\numa cor pré-definida.\r\n\r\nUm widget switch tem seu payload movimentado \r\npor outro nó change, para a propriedade \r\nmsg.enable, de maneira que o colour_picker,\r\no text e o button sejam habilitados ou \r\ndesabilitados, conforme o estado do switch.",
        "env": []
    },
    {
        "id": "b6d8190adc0aaae1",
        "type": "junction",
        "z": "93a38326c9c9e800",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "1fb52008babbc784"
            ]
        ]
    },
    {
        "id": "985ab75730e5cc0d",
        "type": "ui_switch",
        "z": "93a38326c9c9e800",
        "name": "",
        "label": "Habilitado",
        "tooltip": "",
        "group": "c28b1d28469e0267",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "cca5b01d85c55ee7"
            ]
        ]
    },
    {
        "id": "cca5b01d85c55ee7",
        "type": "change",
        "z": "93a38326c9c9e800",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "enabled",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "2c01105eb529d716"
            ]
        ]
    },
    {
        "id": "2c01105eb529d716",
        "type": "ui_colour_picker",
        "z": "93a38326c9c9e800",
        "name": "",
        "label": "Seleção de Cor",
        "group": "c28b1d28469e0267",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "eba43cec6ad85703",
                "ce7806cd8eab2265"
            ]
        ]
    },
    {
        "id": "eba43cec6ad85703",
        "type": "ui_text",
        "z": "93a38326c9c9e800",
        "group": "c28b1d28469e0267",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cor Selecionada",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "1fb52008babbc784",
        "type": "ui_button",
        "z": "93a38326c9c9e800",
        "name": "",
        "group": "c28b1d28469e0267",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "fa-adjust",
        "payload": "{\"r\":0, \"g\":0,\"b\":0,\"a\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "2c01105eb529d716"
            ]
        ]
    },
    {
        "id": "ce7806cd8eab2265",
        "type": "change",
        "z": "93a38326c9c9e800",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "b6d8190adc0aaae1"
            ]
        ]
    },
    {
        "id": "c28b1d28469e0267",
        "type": "ui_group",
        "name": "Cores",
        "tab": "9373df180f03cbec",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9373df180f03cbec",
        "type": "ui_tab",
        "name": "GNR 10",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]