fluxos/capitulo6/Dashboard_2_flow.json
[
    {
        "id": "2da91dce8f8cf06f",
        "type": "tab",
        "label": "Dashboard 2",
        "disabled": false,
        "info": "Painel de visualização de dados simulados\r\npara mostrar o funcionamento dos widgets \r\ntext e gauge.\r\n\r\nNa tab 'GNR 2' foram definidos os grupos \r\n'Grupo T1' e 'Grupo T2', aos quais foram \r\nadicionados um text e um gauge usando \r\nalgumas opções diferentes de configuração.",
        "env": []
    },
    {
        "id": "de519a199d809275",
        "type": "inject",
        "z": "2da91dce8f8cf06f",
        "name": "Timer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "413b53991498d936"
            ]
        ]
    },
    {
        "id": "ed05b25ef905ab76",
        "type": "ui_text",
        "z": "2da91dce8f8cf06f",
        "group": "5c9670d3a2de11f7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura 1",
        "format": "{{msg.payload | number:2}}°C",
        "layout": "col-center",
        "className": "ma-check",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "e13d99e04c50fa97",
        "type": "ui_gauge",
        "z": "2da91dce8f8cf06f",
        "name": "",
        "group": "5c9670d3a2de11f7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura 1",
        "label": "°C",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#1595cb",
            "#46e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "03ce1acac0d5fbb3",
        "type": "ui_gauge",
        "z": "2da91dce8f8cf06f",
        "name": "",
        "group": "75d915289430b1e7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperatura 2",
        "label": "°C",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#46e600",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "9a19e8a359ba6e22",
        "type": "ui_text",
        "z": "2da91dce8f8cf06f",
        "group": "75d915289430b1e7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura 2",
        "format": "{{msg.payload | number:2}}°C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "413b53991498d936",
        "type": "function",
        "z": "2da91dce8f8cf06f",
        "name": "function 1",
        "func": "msg.timestamp = msg.payload;\nmsg.payload = (10 + Math.random() * 20);\nlet topic = Math.ceil(Math.random() * 2);\nmsg.topic = \"temp\" + topic.toString();\nif (topic == 1) {\n    return [msg, null, RED.util.cloneMessage(msg)];\n} else {\n    return [null, msg, RED.util.cloneMessage(msg)];\n}\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "ed05b25ef905ab76",
                "e13d99e04c50fa97"
            ],
            [
                "03ce1acac0d5fbb3",
                "9a19e8a359ba6e22"
            ],
            [
                "4ff28acf453c21e3"
            ]
        ]
    },
    {
        "id": "4ff28acf453c21e3",
        "type": "debug",
        "z": "2da91dce8f8cf06f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 300,
        "y": 200,
        "wires": []
    },
    {
        "id": "5c9670d3a2de11f7",
        "type": "ui_group",
        "name": "Grupo T1",
        "tab": "6ad37f6db98e77f5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "75d915289430b1e7",
        "type": "ui_group",
        "name": "Grupo T2",
        "tab": "6ad37f6db98e77f5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6ad37f6db98e77f5",
        "type": "ui_tab",
        "name": "GNR 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]