flows/capitulo3/Analisadores_1_flow.json
[
    {
        "id": "66a194e97e594498",
        "type": "tab",
        "label": "Analisadores 1",
        "disabled": false,
        "info": "Este é um exemplo simples de uso direto\r\nde alguns analisadores sintáticos do \r\nNode-RED. Utiliza os nós:\r\n - inject,\r\n - json,\r\n - xml, e \r\n - debug.\r\n\r\nO primeiro nó inject envia um objeto JSON \r\nsimples para os nós json e xml, que \r\nefetuam sua conversão para uma string. \r\nOs resultados são mostrados por nós debug \r\nespecíficos.\r\n\r\nOs outros nós injects enviam strings em \r\nformato JSON ou XML para os respectivos\r\nnós json e xml, que as convertem para \r\na representação de objeto JSON equivalente.\r\nUm único nó debug concentra estes \r\nresultados.",
        "env": []
    },
    {
        "id": "e0f1a21eb2ccd391",
        "type": "json",
        "z": "66a194e97e594498",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "1f2557b2ee8cd420"
            ]
        ]
    },
    {
        "id": "a27808a301e21acc",
        "type": "xml",
        "z": "66a194e97e594498",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "47406c7733dbd0ee"
            ]
        ]
    },
    {
        "id": "1f2557b2ee8cd420",
        "type": "debug",
        "z": "66a194e97e594498",
        "name": "JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "4ef3db8a83a3d701",
        "type": "inject",
        "z": "66a194e97e594498",
        "name": "Objeto JSON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"f1\":1,\"f2\":\"um texto\",\"f3\":false,\"f4\":[0.1,2.3]}",
        "payloadType": "json",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "e0f1a21eb2ccd391",
                "a27808a301e21acc"
            ]
        ]
    },
    {
        "id": "0c1987395e0f3ad5",
        "type": "inject",
        "z": "66a194e97e594498",
        "name": "Texto JSON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"f1\":1,\"f2\":\"um texto\",\"f3\":false,\"f4\":[0.1,2.3]}",
        "payloadType": "str",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "e0f1a21eb2ccd391"
            ]
        ]
    },
    {
        "id": "8b0fce00600d0e8e",
        "type": "inject",
        "z": "66a194e97e594498",
        "name": "Texto XML",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "<root><f1>1</f1><f2>um texto</f2><f3>false</f3><f4>0.1</f4><f4>2.3</f4></root>",
        "payloadType": "str",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "a27808a301e21acc"
            ]
        ]
    },
    {
        "id": "47406c7733dbd0ee",
        "type": "debug",
        "z": "66a194e97e594498",
        "name": "XML",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 180,
        "wires": []
    }
]