flows/capitulo3/Processamento_flow.json
[
    {
        "id": "082575631857d49c",
        "type": "tab",
        "label": "Processamento",
        "disabled": false,
        "info": "Este fluxo mostra o uso do nó change \r\nno processamento de mensagens, realizando \r\nalterações em suas propriedades, sem \r\nnecessidade de funções.\r\nSão utilizados os nós:\r\n - inject, que envia uma mensagem com\r\n   várias propriedades;\r\n - change, que altera as propriedades da\r\n   mensagem; e\r\n - debug; para visualização da mensagem \r\n   antes e depois de seu processamento.\r\n",
        "env": []
    },
    {
        "id": "cddc5c3cc1b2ea9a",
        "type": "change",
        "z": "082575631857d49c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "processed",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "estacao",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "estacao",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "media",
                "pt": "msg",
                "to": "(min + max) / 2",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "63e46adb19f429cf"
            ]
        ]
    },
    {
        "id": "b903bb7c20ade4ff",
        "type": "inject",
        "z": "082575631857d49c",
        "name": "injetar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "min",
                "v": "$random() * 15\t",
                "vt": "jsonata"
            },
            {
                "p": "max",
                "v": "$random() * 30",
                "vt": "jsonata"
            },
            {
                "p": "estacao",
                "v": "op114",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "cddc5c3cc1b2ea9a",
                "9b93c4850b935819"
            ]
        ]
    },
    {
        "id": "9b93c4850b935819",
        "type": "debug",
        "z": "082575631857d49c",
        "name": "antes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "63e46adb19f429cf",
        "type": "debug",
        "z": "082575631857d49c",
        "name": "depois",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 180,
        "wires": []
    }
]