fluxos/capitulo5/Produtos_flow.json
[
    {
        "id": "64123ce03e0d6500",
        "type": "tab",
        "label": "Produtos",
        "disabled": false,
        "info": "Este fluxo mostra o uso do nó \r\nhttp_request na realização de uma \r\nconsulta a um serviço web. São \r\nusados os nós:\r\n - inject;\r\n - http_request; e \r\n - debug.\r\n\r\nO nó inject envia uma mensagem com\r\na propriedade numero, que contém um \r\ninteiro entre [1, 100], para o nó \r\nhttp_request, que se conecta a URL \r\nhttps://dummyjson.com/product/{{{numero}}}, \r\nefetuando assim a consulta ao produto \r\nnumericamente identificado.\r\n\r\nO resultado é um objeto JSON enviado \r\nao nó debug, que mostra os campos \r\ntitle, description, category e brand, \r\ndentre os vários disponíveis.",
        "env": []
    },
    {
        "id": "ebe18c5caef3634f",
        "type": "inject",
        "z": "64123ce03e0d6500",
        "name": "Sorteador",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "numero",
                "v": "$ceil($random()*100)",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "a6e749a16e409766"
            ]
        ]
    },
    {
        "id": "582d7b879a7675b2",
        "type": "debug",
        "z": "64123ce03e0d6500",
        "name": "Resultado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.title & '\\n\\n' & payload.description & '\\n\\n'  & payload.category & \" | \" & payload.brand",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "a6e749a16e409766",
        "type": "http request",
        "z": "64123ce03e0d6500",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://dummyjson.com/product/{{{numero}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 140,
        "wires": [
            [
                "582d7b879a7675b2"
            ]
        ]
    }
]