fluxos/capitulo5/TCP_pedido_flow.json
[
    {
        "id": "28969d4bb0b791d4",
        "type": "tab",
        "label": "Pedido TCP",
        "disabled": false,
        "info": "Este fluxo mostra o uso do nó tcp_request \r\nna realização de um pedido para um serviço \r\ndisponível na web. Combina o uso dos nós: \r\n - inject,\r\n - function,\r\n - tcp_request,\r\n - json e\r\n - debug.\r\n\r\n O nó inject inicia o fluxo, de maneira \r\n que  o nó function 'Pedido GET' coloque \r\n um pedido HTTP GET no payload, o qual é \r\n enviado ao nó tcp_request, configurado \r\n para enviar o pedido do payload para o \r\n host correspondente.\r\n\r\n A resposta, colocada em um buffer, é \r\n processada pelo nó function 'Extrai JSON',\r\n que remove o cabeçalho de resposta HTTP, \r\n enviando um texto JSON para o nó json, \r\n que o converte para um objeto JavaScript.\r\n\r\n Os nós debug permitem visualizar a \r\n 'Resposta' integral, o 'Texto' extraído e\r\n o objeto 'JSON' final.",
        "env": []
    },
    {
        "id": "23fa21f1.dc05de",
        "type": "tcp request",
        "z": "28969d4bb0b791d4",
        "name": "",
        "server": "httpbin.org",
        "port": "80",
        "out": "time",
        "ret": "buffer",
        "splitc": "1000",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "7bcbd7c9.843428",
                "8e76964b.718968"
            ]
        ]
    },
    {
        "id": "3f8055d.fc07faa",
        "type": "inject",
        "z": "28969d4bb0b791d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "da6be638.259418"
            ]
        ]
    },
    {
        "id": "8e76964b.718968",
        "type": "debug",
        "z": "28969d4bb0b791d4",
        "name": "Resposta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "7bcbd7c9.843428",
        "type": "function",
        "z": "28969d4bb0b791d4",
        "name": "Extrai JSON",
        "func": "// Convert buffer em string utf-8\nmsg.payload = msg.payload.toString('utf8');\n// Localiza início do texto HTML\nvar index = msg.payload.indexOf(\"{\");\n// Extrai texto JSON da string\nmsg.payload = msg.payload.substring(index); \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 180,
        "wires": [
            [
                "b37e8f2043257d4a",
                "b9508dd4370660e5"
            ]
        ]
    },
    {
        "id": "da6be638.259418",
        "type": "function",
        "z": "28969d4bb0b791d4",
        "name": "Pedido GET",
        "func": "msg.payload = \"GET /get HTTP/1.1\\r\\nHost: httpbin.org\\r\\n\\r\\n\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 60,
        "wires": [
            [
                "23fa21f1.dc05de"
            ]
        ]
    },
    {
        "id": "b37e8f2043257d4a",
        "type": "debug",
        "z": "28969d4bb0b791d4",
        "name": "Texto",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "94b5de792c4937da",
        "type": "debug",
        "z": "28969d4bb0b791d4",
        "name": "JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "b9508dd4370660e5",
        "type": "json",
        "z": "28969d4bb0b791d4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "94b5de792c4937da"
            ]
        ]
    }
]