fluxos/capitulo5/UDP_recepcao_flow.json
[
    {
        "id": "230990fc936bf9da",
        "type": "tab",
        "label": "Recepção UDP",
        "disabled": false,
        "info": "Este fluxo mostra o uso do nó udp_in para \r\nreceber dados de programas externos.\r\n\r\nO nó udp_in está configurado para o modo \r\nde recepção UDP, ouvindo a porta 7337 do \r\nlocalhost, na qual recebe dados de um \r\nprograma que envia uma string fixa, \r\num inteiro e um real aleatórios.\r\n\r\nO buffer recebido é processado por um \r\nnó function, que o decompõe em suas partes, \r\ncriando um objeto JSON correspondente.\r\n\r\nA mensagem recebida do programa externo e \r\no objeto JSON são exibidos por nós debug.\r\n",
        "env": []
    },
    {
        "id": "cc34b18526bfe6e7",
        "type": "udp in",
        "z": "230990fc936bf9da",
        "name": "",
        "iface": "",
        "port": "7337",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "33d27cb8b8828327",
                "ef5f29bd6f84f56d"
            ]
        ]
    },
    {
        "id": "33d27cb8b8828327",
        "type": "debug",
        "z": "230990fc936bf9da",
        "name": "Dados",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "ef5f29bd6f84f56d",
        "type": "function",
        "z": "230990fc936bf9da",
        "name": "Texto>>JSON",
        "func": "// decompõe payload em partes\nlet parte = msg.payload.toString('UTF-8').split(',');\n\n// cria JSON com as partes\nmsg.payload = {\n    topic: parte[0].trim(),\n    val_i: parseInt(parte[1].trim()),\n    val_f: parseFloat(parte[2].trim())\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "50cbecaeb4f0306e"
            ]
        ]
    },
    {
        "id": "50cbecaeb4f0306e",
        "type": "debug",
        "z": "230990fc936bf9da",
        "name": "JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 140,
        "wires": []
    }
]