flows/capitulo4/Chamada_flow.json
[
    {
        "id": "62abe469ef95dd93",
        "type": "tab",
        "label": "Chamada",
        "disabled": false,
        "info": "Fluxo trivial que mostra o funcionamento \r\nda chamada de fluxo com uso dos nós \r\nlink_call e link_in node.\r\nO nó link_call permite produzir o efeito \r\nou obter o resultado de uma sequência de \r\nnós disposta em separado e identificada \r\npor um nome.",
        "env": []
    },
    {
        "id": "c588bc36.87fec",
        "type": "comment",
        "z": "62abe469ef95dd93",
        "name": "Fluxo chamador",
        "info": "Este fluxo se comporta como o chamador de \numa função, pois acionada um fluxo auxiliar \nutilizando seu resultado.",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "cd31efb4d2c6967e",
        "type": "link call",
        "z": "62abe469ef95dd93",
        "name": "chamada de ligação",
        "links": [
            "dbc46892c8d14c37"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 360,
        "y": 80,
        "wires": [
            [
                "c3db64d1d2260340"
            ]
        ]
    },
    {
        "id": "dbc46892c8d14c37",
        "type": "link in",
        "z": "62abe469ef95dd93",
        "name": "Início",
        "links": [],
        "x": 75,
        "y": 200,
        "wires": [
            [
                "e10575d73f2e5352"
            ]
        ]
    },
    {
        "id": "6b61792143b3b0a3",
        "type": "inject",
        "z": "62abe469ef95dd93",
        "name": "Nó Anterior",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "cd31efb4d2c6967e"
            ]
        ]
    },
    {
        "id": "e10575d73f2e5352",
        "type": "change",
        "z": "62abe469ef95dd93",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "timestamp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$ceil( $random() * 6 )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "cf8438e7137bc0f0"
            ]
        ]
    },
    {
        "id": "cf8438e7137bc0f0",
        "type": "link out",
        "z": "62abe469ef95dd93",
        "name": "Fim",
        "mode": "return",
        "links": [],
        "x": 365,
        "y": 200,
        "wires": []
    },
    {
        "id": "c3db64d1d2260340",
        "type": "debug",
        "z": "62abe469ef95dd93",
        "name": "Nó Posterior",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "6d077dfa0987febb",
        "type": "comment",
        "z": "62abe469ef95dd93",
        "name": "Fluxo chamado",
        "info": "Este fluxo se comporta como uma função, \nacionada por outros fluxos e retornando \nseu resultado.",
        "x": 140,
        "y": 160,
        "wires": []
    }
]