flows/capitulo4/Divisao_Juncao_flow.json
[
    {
        "id": "7cbc0776cbb4d45a",
        "type": "tab",
        "label": "Divisão/Junção",
        "disabled": false,
        "info": "Demonstração das capacidades do nó \r\njoin em seus três modos de operação.\r\n - Fluxo Automático\r\n - Fluxo Manual\r\n - Fluxo Redução de Sequência\r\n\r\nUsa os nós inject, split, join e \r\ndebug.",
        "env": []
    },
    {
        "id": "2988ace2549c9ffe",
        "type": "inject",
        "z": "7cbc0776cbb4d45a",
        "name": "S736487",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "S736487",
        "payload": "{\"idsensor\":736487,\"temperatura\":23.5}",
        "payloadType": "json",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "43c0bcba2bee7a0b",
                "e57cedb317e966b4"
            ]
        ]
    },
    {
        "id": "1d42d6b81686e1c6",
        "type": "inject",
        "z": "7cbc0776cbb4d45a",
        "name": "S7101209",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "S7101209",
        "payload": "{\"idsensor\":701209,\"temperatura\":21.35}",
        "payloadType": "json",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "43c0bcba2bee7a0b",
                "e57cedb317e966b4"
            ]
        ]
    },
    {
        "id": "338b3e54ef723711",
        "type": "inject",
        "z": "7cbc0776cbb4d45a",
        "name": "S773526",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "S773526",
        "payload": "{\"idsensor\":773526,\"temperatura\":18.2}",
        "payloadType": "json",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "43c0bcba2bee7a0b",
                "e57cedb317e966b4"
            ]
        ]
    },
    {
        "id": "a1c3b5f18804180e",
        "type": "debug",
        "z": "7cbc0776cbb4d45a",
        "name": "debug B1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "5c1544c9deda7f9e",
        "type": "inject",
        "z": "7cbc0776cbb4d45a",
        "name": "Array A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1, 2, 3]",
        "payloadType": "json",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "4254ce80cb350650"
            ]
        ]
    },
    {
        "id": "4254ce80cb350650",
        "type": "split",
        "z": "7cbc0776cbb4d45a",
        "name": "dividir A",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "558cad072345b11d",
                "415b1a3b2d0f078a"
            ]
        ]
    },
    {
        "id": "558cad072345b11d",
        "type": "join",
        "z": "7cbc0776cbb4d45a",
        "name": "juntar A",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 480,
        "y": 120,
        "wires": [
            [
                "415b1a3b2d0f078a"
            ]
        ]
    },
    {
        "id": "415b1a3b2d0f078a",
        "type": "debug",
        "z": "7cbc0776cbb4d45a",
        "name": "debug A",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "43c0bcba2bee7a0b",
        "type": "join",
        "z": "7cbc0776cbb4d45a",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "a1c3b5f18804180e"
            ]
        ]
    },
    {
        "id": "84ed227552b4e6eb",
        "type": "join",
        "z": "7cbc0776cbb4d45a",
        "name": "juntar C",
        "mode": "reduce",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "$A+payload.total",
        "reduceInit": "0",
        "reduceInitType": "num",
        "reduceFixup": "$A",
        "x": 480,
        "y": 380,
        "wires": [
            [
                "f2dba285d7a067cd"
            ]
        ]
    },
    {
        "id": "522b4e247e84ac0e",
        "type": "inject",
        "z": "7cbc0776cbb4d45a",
        "name": "Array C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"cod\":48,\"sigla\":\"ADS\",\"total\":147},{\"cod\":78,\"sigla\":\"GTI\",\"total\":153},{\"cod\":137,\"sigla\":\"SE\",\"total\":104}]",
        "payloadType": "json",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "351e98a55e5a50c6"
            ]
        ]
    },
    {
        "id": "f2dba285d7a067cd",
        "type": "debug",
        "z": "7cbc0776cbb4d45a",
        "name": "debug C",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "351e98a55e5a50c6",
        "type": "split",
        "z": "7cbc0776cbb4d45a",
        "name": "dividir C",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "84ed227552b4e6eb",
                "d03aabc79785a2a1"
            ]
        ]
    },
    {
        "id": "0631ddb910403a34",
        "type": "comment",
        "z": "7cbc0776cbb4d45a",
        "name": "Automático",
        "info": "Efetua a injeção de um array numérico \ne de uma string de dados.\n\nO nó join opera em modo automático para \nreagrupar os elementos divididos pelo nó \nsplit anterior, cuja única configuração \né usar a vírgula como separador para \npayload do tipo string.\n\nO nó debug permite visualizar tanto as \nmensagens divididas, como sua junção.",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "fb188f99460f8741",
        "type": "comment",
        "z": "7cbc0776cbb4d45a",
        "name": "Manual",
        "info": "Nós join operando em modo manual.\nConfigurados para agrupar o payload \nde 3 mensagens de duas maneiras:\n - com inclusão de mensagem subsequente; e\n - em grupos de 3 novas mensagens.\n\nOs nós debug permitem diferenciar a \nformação das mensagens combinadas.",
        "x": 90,
        "y": 180,
        "wires": []
    },
    {
        "id": "4b7d17e75d47ca04",
        "type": "comment",
        "z": "7cbc0776cbb4d45a",
        "name": "Reduzir Sequência",
        "info": "Uma mensagem composta é dividida por um\nnó split, para que suas partes possam \nser processadas individualmente por \ndois nós join, configurados como um \nagregadores para total e média.\n\nO nó debug permite visualizar os \nresultados produzidos pelos dois nós join.",
        "x": 130,
        "y": 360,
        "wires": []
    },
    {
        "id": "7cc8380ead19e096",
        "type": "debug",
        "z": "7cbc0776cbb4d45a",
        "name": "debug B2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "e57cedb317e966b4",
        "type": "join",
        "z": "7cbc0776cbb4d45a",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "7cc8380ead19e096"
            ]
        ]
    },
    {
        "id": "dde4cada5b66e02e",
        "type": "inject",
        "z": "7cbc0776cbb4d45a",
        "name": "String Dados",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Brian Kernighan,Dennis Ritchie,Ken Thompson",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "4254ce80cb350650"
            ]
        ]
    },
    {
        "id": "d03aabc79785a2a1",
        "type": "join",
        "z": "7cbc0776cbb4d45a",
        "name": "média",
        "mode": "reduce",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "$A+payload.total",
        "reduceInit": "0",
        "reduceInitType": "num",
        "reduceFixup": "$A / $N",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "f2dba285d7a067cd"
            ]
        ]
    }
]