flows/capitulo4/Filtros_flow.json
[
    {
        "id": "572beb458d622e6f",
        "type": "tab",
        "label": "Filtros",
        "disabled": false,
        "info": "Fluxos simples para mostrar os três modos \r\nde funcionamento do nó filter:\r\n - filtro;\r\n - narrowband; e\r\n - deadband.\r\n\r\n Todos utilizam um nó inject que envia um \r\n array contendo 12 valores inteiros. O nó \r\n split divide o array numa sequência de \r\n mensagens com seus valores individuais, \r\n que são processados por um nó filter em\r\n cada configuração possível.\r\n\r\n Os nós debug apresentam as mensagens que \r\n não foram filtradas, isto é, passaram\r\n pelo nó filter.",
        "env": []
    },
    {
        "id": "5adf6b757e2a7bb2",
        "type": "rbe",
        "z": "572beb458d622e6f",
        "name": "Only report changes",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "6682a9e8826ad09b"
            ]
        ]
    },
    {
        "id": "f60dc26f8d634312",
        "type": "inject",
        "z": "572beb458d622e6f",
        "name": "[19,20,...,23,19]",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[19,20,21,21,22,23,23,27,23,19]",
        "payloadType": "json",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "5b2b61bb112b23e7"
            ]
        ]
    },
    {
        "id": "6682a9e8826ad09b",
        "type": "debug",
        "z": "572beb458d622e6f",
        "name": "Filtro",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "5b2b61bb112b23e7",
        "type": "split",
        "z": "572beb458d622e6f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "5adf6b757e2a7bb2"
            ]
        ]
    },
    {
        "id": "6b70bed3e7360f58",
        "type": "rbe",
        "z": "572beb458d622e6f",
        "name": "",
        "func": "deadbandEq",
        "gap": "3",
        "start": "2",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 440,
        "y": 280,
        "wires": [
            [
                "5f02aa2b43499ca8"
            ]
        ]
    },
    {
        "id": "5f02aa2b43499ca8",
        "type": "debug",
        "z": "572beb458d622e6f",
        "name": "Deadband",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "e58f98ecb220d7f3",
        "type": "split",
        "z": "572beb458d622e6f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "6b70bed3e7360f58"
            ]
        ]
    },
    {
        "id": "c3fe078d8975706a",
        "type": "comment",
        "z": "572beb458d622e6f",
        "name": "Filtro",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "3839050ca3b87078",
        "type": "comment",
        "z": "572beb458d622e6f",
        "name": "Narrowband",
        "info": "",
        "x": 90,
        "y": 140,
        "wires": []
    },
    {
        "id": "c82663a2192aff09",
        "type": "comment",
        "z": "572beb458d622e6f",
        "name": "Deadband",
        "info": "",
        "x": 80,
        "y": 240,
        "wires": []
    },
    {
        "id": "97491bc79c01f811",
        "type": "debug",
        "z": "572beb458d622e6f",
        "name": "Narrowband",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "2a5ea60a6d5c2295",
        "type": "split",
        "z": "572beb458d622e6f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "90f1453cc5cba97c"
            ]
        ]
    },
    {
        "id": "90f1453cc5cba97c",
        "type": "rbe",
        "z": "572beb458d622e6f",
        "name": "",
        "func": "narrowband",
        "gap": "3",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "97491bc79c01f811"
            ]
        ]
    },
    {
        "id": "7469bbc54ca4b617",
        "type": "inject",
        "z": "572beb458d622e6f",
        "name": "[19,20,...,23,19]",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[19,20,21,21,22,23,23,27,23,19]",
        "payloadType": "json",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "2a5ea60a6d5c2295"
            ]
        ]
    },
    {
        "id": "409ef025b25a703c",
        "type": "inject",
        "z": "572beb458d622e6f",
        "name": "[19,20,...,23,19]",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[19,20,21,21,22,23,23,27,23,19]",
        "payloadType": "json",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "e58f98ecb220d7f3"
            ]
        ]
    }
]