flows/capitulo4/Gatilhos_flow.json
[
    {
        "id": "866c3e7767829afe",
        "type": "tab",
        "label": "Gatilhos",
        "disabled": false,
        "info": "Os fluxos desta guia pretendem mostrar a \r\nfuncionalidade essencial do nó trigger.",
        "env": []
    },
    {
        "id": "39333c055828b138",
        "type": "inject",
        "z": "866c3e7767829afe",
        "name": "Sensor de Presença",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "7fec2333b929d424"
            ]
        ]
    },
    {
        "id": "6e6bc184119065fc",
        "type": "trigger",
        "z": "866c3e7767829afe",
        "name": "Comando",
        "op1": "ABRIR",
        "op2": "FECHAR",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "d0ccd1e7dd9e313a"
            ]
        ]
    },
    {
        "id": "7fec2333b929d424",
        "type": "switch",
        "z": "866c3e7767829afe",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "6e6bc184119065fc"
            ]
        ]
    },
    {
        "id": "d0ccd1e7dd9e313a",
        "type": "debug",
        "z": "866c3e7767829afe",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "5662274e316d9317",
        "type": "comment",
        "z": "866c3e7767829afe",
        "name": "Tarefa repetitiva",
        "info": "Este fluxo simula a abertura automática \nde uma porta disparada por um sensor de \npresença.\n\nO nó inject simula o sensor de presença,\ncujo estado é avaliado pelo nó switch.\nQuando o estado do sensor é true, o \nnó delay é acionado e dispara o comando \nde abertura da porta e, depois de 10 \nsegundos, envia um segundo comando para \no fechamento da porta.\n\nOs comandos enviados pelo nó trigger são \nvisualizados como estado do nó debug e na \nguia depurar.",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "e682b48eea38c319",
        "type": "inject",
        "z": "866c3e7767829afe",
        "name": "Iniciar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "b9ae5465226eae3a"
            ]
        ]
    },
    {
        "id": "5eb6498b447e55cd",
        "type": "inject",
        "z": "866c3e7767829afe",
        "name": "Parar",
        "props": [
            {
                "p": "reset",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "b9ae5465226eae3a"
            ]
        ]
    },
    {
        "id": "80ad06952f6dcae7",
        "type": "http request",
        "z": "866c3e7767829afe",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://worldtimeapi.org/api/timezone/America/Sao_Paulo",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "cd78e9c5ab3d9f35"
            ]
        ]
    },
    {
        "id": "b9ae5465226eae3a",
        "type": "trigger",
        "z": "866c3e7767829afe",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "80ad06952f6dcae7"
            ]
        ]
    },
    {
        "id": "6182fd9db1a9270a",
        "type": "debug",
        "z": "866c3e7767829afe",
        "name": "Resultados",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.timezone & \"\\n\" & payload.datetime",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "04893f86fbf06dee",
        "type": "comment",
        "z": "866c3e7767829afe",
        "name": "Tarefa comandável",
        "info": "Neste fluxo, dois nós inject, com \nconfiguração padrão, são usados para \ncontrolar um nó trigger.\n\nUm nó inject permite ativar o trigger para \nque acione a cada 10 segundos uma consulta \nna web realizada por um nó http_request, cujo \nresultado de tipo texto é convertido em \nJSON por um nó json, cujos campos \nselecionados são exibidos com uso de um nó \ndebug.\n\nO outro nó inject desativa o trigger, \nparando a realização da consulta.\n",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "cd78e9c5ab3d9f35",
        "type": "json",
        "z": "866c3e7767829afe",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "6182fd9db1a9270a"
            ]
        ]
    }
]