flows/capitulo4/Multicanal_flow.json
[
    {
        "id": "7e91bfcb1cd90a06",
        "type": "tab",
        "label": "Multicanal",
        "disabled": false,
        "info": "Fluxo que exemplifica separação e a \r\ntotalização de dados de vários canais\r\nrecebidos em um canal combinado.\r\nO msg.payload contém o dado do canal, \r\nenquanto msg.seletor contém sua \r\nidentificação.\r\n\r\nO nó switch separa os dados dos canais,\r\ncujos valores recebidos são totalizados \r\npor nós function e exibidos separadamente.\r\n\r\nTambém é feita a totalização dos dados dos \r\ncanais pares e ímpares. Um inject envia \r\numa mensagem que reinicializa os\r\ntotalizadores.",
        "env": []
    },
    {
        "id": "aeaf1c2a57add0af",
        "type": "inject",
        "z": "7e91bfcb1cd90a06",
        "name": "Dados Multicanal",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "seletor",
                "v": "$ceil($random()*7)",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$random()*10",
        "payloadType": "jsonata",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "b8ff53d128c05879",
                "ce44971a8c4da70e"
            ]
        ]
    },
    {
        "id": "d9d918094514fd29",
        "type": "debug",
        "z": "7e91bfcb1cd90a06",
        "name": "Canal 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 40,
        "wires": []
    },
    {
        "id": "b8ff53d128c05879",
        "type": "switch",
        "z": "7e91bfcb1cd90a06",
        "name": "Seletor",
        "property": "seletor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "dcc19f9a206ecfa0"
            ],
            [
                "457a79ba8ed07a8d"
            ],
            [
                "31d424377c89f044"
            ],
            [
                "1fd54fe59e4a5e12"
            ],
            [
                "e177b9aa57c5e3dc"
            ],
            [
                "c75ee2043191fb52"
            ],
            [
                "e7c9d35a757949d0"
            ]
        ]
    },
    {
        "id": "dcc19f9a206ecfa0",
        "type": "function",
        "z": "7e91bfcb1cd90a06",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 40,
        "wires": [
            [
                "d9d918094514fd29",
                "c4b0e9228e221f3e"
            ]
        ]
    },
    {
        "id": "457a79ba8ed07a8d",
        "type": "function",
        "z": "7e91bfcb1cd90a06",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            [
                "290b2639b1594e3d",
                "3ea863fb9ddd0426"
            ]
        ]
    },
    {
        "id": "31d424377c89f044",
        "type": "function",
        "z": "7e91bfcb1cd90a06",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 160,
        "wires": [
            [
                "4de04be82d9353ca",
                "c4b0e9228e221f3e"
            ]
        ]
    },
    {
        "id": "1fd54fe59e4a5e12",
        "type": "function",
        "z": "7e91bfcb1cd90a06",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "e477d21ad30cc064",
                "3ea863fb9ddd0426"
            ]
        ]
    },
    {
        "id": "e177b9aa57c5e3dc",
        "type": "function",
        "z": "7e91bfcb1cd90a06",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "270a770dbde4f657",
                "c4b0e9228e221f3e"
            ]
        ]
    },
    {
        "id": "c75ee2043191fb52",
        "type": "function",
        "z": "7e91bfcb1cd90a06",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 340,
        "wires": [
            [
                "4f301c9be36c91ad",
                "3ea863fb9ddd0426"
            ]
        ]
    },
    {
        "id": "290b2639b1594e3d",
        "type": "debug",
        "z": "7e91bfcb1cd90a06",
        "name": "Canal 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "4de04be82d9353ca",
        "type": "debug",
        "z": "7e91bfcb1cd90a06",
        "name": "Canal 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "e477d21ad30cc064",
        "type": "debug",
        "z": "7e91bfcb1cd90a06",
        "name": "Canal 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "270a770dbde4f657",
        "type": "debug",
        "z": "7e91bfcb1cd90a06",
        "name": "Canal 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "4f301c9be36c91ad",
        "type": "debug",
        "z": "7e91bfcb1cd90a06",
        "name": "Canal 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "8c0f4543af2bbaeb",
        "type": "inject",
        "z": "7e91bfcb1cd90a06",
        "name": "Reset",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "dcc19f9a206ecfa0",
                "457a79ba8ed07a8d",
                "31d424377c89f044",
                "1fd54fe59e4a5e12",
                "e177b9aa57c5e3dc",
                "c75ee2043191fb52",
                "e7c9d35a757949d0",
                "c4b0e9228e221f3e",
                "3ea863fb9ddd0426"
            ]
        ]
    },
    {
        "id": "e7c9d35a757949d0",
        "type": "function",
        "z": "7e91bfcb1cd90a06",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "c921ecd1645d71d5"
            ]
        ]
    },
    {
        "id": "c921ecd1645d71d5",
        "type": "debug",
        "z": "7e91bfcb1cd90a06",
        "name": "Erros",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "c4b0e9228e221f3e",
        "type": "function",
        "z": "7e91bfcb1cd90a06",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 460,
        "wires": [
            [
                "65a91e4a31bccabb"
            ]
        ]
    },
    {
        "id": "3ea863fb9ddd0426",
        "type": "function",
        "z": "7e91bfcb1cd90a06",
        "name": "Totalizador",
        "func": "if (msg.reset == null) {\n    var ult_total = context.get(\"total\");\n    var total = ult_total + msg.payload;\n    context.set(\"total\", total);\n    msg.total = total;\n} else {\n    context.set(\"total\", 0);\n    msg.total = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"total\", 0);",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "ed0f0dd13e572547"
            ]
        ]
    },
    {
        "id": "65a91e4a31bccabb",
        "type": "debug",
        "z": "7e91bfcb1cd90a06",
        "name": "Ímpares",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "total",
        "statusType": "auto",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "ed0f0dd13e572547",
        "type": "debug",
        "z": "7e91bfcb1cd90a06",
        "name": "Pares",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "total",
        "targetType": "msg",
        "statusVal": "total",
        "statusType": "auto",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "ce44971a8c4da70e",
        "type": "debug",
        "z": "7e91bfcb1cd90a06",
        "name": "Seletor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "seletor",
        "targetType": "msg",
        "statusVal": "seletor",
        "statusType": "auto",
        "x": 100,
        "y": 100,
        "wires": []
    }
]