flows/capitulo4/Ordenacao_flow.json
[
    {
        "id": "1d8f1ed4556aa497",
        "type": "tab",
        "label": "Ordenação",
        "disabled": false,
        "info": "Fluxos para mostrar o funcionamento do\r\nnó sort.",
        "env": []
    },
    {
        "id": "3938d2b4f802ab5d",
        "type": "sort",
        "z": "1d8f1ed4556aa497",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "",
        "targetType": "seq",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "59b0c5be6d1aaf0c"
            ]
        ]
    },
    {
        "id": "389421befd2f3ef5",
        "type": "debug",
        "z": "1d8f1ed4556aa497",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "861ca83fde874e33",
        "type": "split",
        "z": "1d8f1ed4556aa497",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "3938d2b4f802ab5d"
            ]
        ]
    },
    {
        "id": "59b0c5be6d1aaf0c",
        "type": "join",
        "z": "1d8f1ed4556aa497",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "389421befd2f3ef5"
            ]
        ]
    },
    {
        "id": "ba3f14aae8986547",
        "type": "file in",
        "z": "1d8f1ed4556aa497",
        "name": "",
        "filename": "flows/capítulo4/criadores.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "861ca83fde874e33"
            ]
        ]
    },
    {
        "id": "1c4c241873bbfe09",
        "type": "inject",
        "z": "1d8f1ed4556aa497",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "ba3f14aae8986547"
            ]
        ]
    },
    {
        "id": "1127be420d4980c7",
        "type": "sort",
        "z": "1d8f1ed4556aa497",
        "name": "",
        "order": "descending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "nome",
        "msgKeyType": "jsonata",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "a3d0aa85d1a96d33"
            ]
        ]
    },
    {
        "id": "a3d0aa85d1a96d33",
        "type": "debug",
        "z": "1d8f1ed4556aa497",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 440,
        "wires": []
    },
    {
        "id": "fc042856237eb36d",
        "type": "file in",
        "z": "1d8f1ed4556aa497",
        "name": "",
        "filename": "flows/capítulo4/criadores.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "3ad80cbeb40eea16"
            ]
        ]
    },
    {
        "id": "0710832ef9ca21a3",
        "type": "inject",
        "z": "1d8f1ed4556aa497",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "fc042856237eb36d"
            ]
        ]
    },
    {
        "id": "3ad80cbeb40eea16",
        "type": "json",
        "z": "1d8f1ed4556aa497",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "1127be420d4980c7"
            ]
        ]
    },
    {
        "id": "b90a89b5f7c3cd45",
        "type": "comment",
        "z": "1d8f1ed4556aa497",
        "name": "Ordenação de array",
        "info": "Este fluxo mostra a funcionalidade de \nordenação do nó sort em sua configuração\npadrão, onde um array de qualquer tipo, \ninjetado como payload, é ordenado \nautomaticamente. O resultado é exibido \npelo nó debug.",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "65fdb980135f0ab8",
        "type": "inject",
        "z": "1d8f1ed4556aa497",
        "name": "Array",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1995, 1935, 1931, 1968, 1964]",
        "payloadType": "json",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "e075b47d2988f54a"
            ]
        ]
    },
    {
        "id": "e075b47d2988f54a",
        "type": "sort",
        "z": "1d8f1ed4556aa497",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "fc6466ea9723e88e"
            ]
        ]
    },
    {
        "id": "fc6466ea9723e88e",
        "type": "debug",
        "z": "1d8f1ed4556aa497",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "e3ad27d207cfb228",
        "type": "comment",
        "z": "1d8f1ed4556aa497",
        "name": "Ordenação de sequência",
        "info": "Este fluxo mostra a funcionalidade de \nordenação do nó sort quando usado para \nordenar sequências de mensagens.\n\nUm arquivo de texto, contendo uma lista de \nnomes, é lido por um nó file_in e \ndividido em linhas por um nó split, de \nmaneira a separar os nomes.\n\nAs linhas se tornam uma sequência de \nmensagens ordenadas pelo nó sort e \nreagrupadas como lista por um nó join.\nO resultado é exibido pelo nó debug.",
        "x": 170,
        "y": 160,
        "wires": []
    },
    {
        "id": "97d9b2d948f1234d",
        "type": "comment",
        "z": "1d8f1ed4556aa497",
        "name": "Ordenação de array de objetos",
        "info": "Este fluxo mostra a funcionalidade de \nordenação do nó sort quando usado para \nordenar um array de objetos.\n\nUm arquivo de texto contém um array de\nobjetos JSON com nome e sobrenome de \ncriadores de linguagens de programação.\n\nO array é lido como texto por um nó \nfile_in e transformado num array JSON por \num nó json.\n\nO nó sort é configurado para ordenação do \npayload, que contém o array, mas com a \nindicação de um campo específico do \nobjeto como chave de ordenação e em\nordem decrescente.\n\nO resultado é exibido pelo nó debug.",
        "x": 190,
        "y": 340,
        "wires": []
    }
]