flows/capitulo6/Datas_flow.json
[
    {
        "id": "7d923ceed559ddc6",
        "type": "tab",
        "label": "Datas",
        "disabled": false,
        "info": "Fluxo que mostra a utilização do widget\r\ndate_picker.\r\n\r\nO date_picker permite a seleção de uma\r\ndata qualquer, enviada como um timestamp.\r\nO nó function converte o timestamp recebido\r\nno formato padrão de data\r\n(aaaa-mm-dd hh:mm:ss.mmm) e também no \r\nformato local, dispondo essas informações\r\nnas propriedades date e localeDate adicionadas\r\nna mensagem.\r\n\r\nO timestamp e sua data local correspondente\r\nsão exibidas pelo widget text. \r\n\r\nUm widget dropdown permite selecionar e\r\nenviar algumas datas nacionais para o \r\ndate_picker. Dois buttons permitem ajustar\r\no date_picker para a data corrente e uma \r\ndata especial. \r\n",
        "env": []
    },
    {
        "id": "1a30907cad761ac0",
        "type": "ui_date_picker",
        "z": "7d923ceed559ddc6",
        "name": "",
        "label": "Seleção de Data",
        "group": "fecf2cfa9fe037d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "73a2ef9d8d88f52e"
            ]
        ]
    },
    {
        "id": "1de583c022bbc3c3",
        "type": "ui_button",
        "z": "7d923ceed559ddc6",
        "name": "",
        "group": "fecf2cfa9fe037d3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Melhor dia da vida",
        "tooltip": "Melhor dia da vida",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "fa-star",
        "payload": "803648580000",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "1a30907cad761ac0"
            ]
        ]
    },
    {
        "id": "9abf0acf46dadeef",
        "type": "ui_dropdown",
        "z": "7d923ceed559ddc6",
        "name": "",
        "label": "Datas Nacionais",
        "tooltip": "Selecione uma data importante do Brasil",
        "place": "Select option",
        "group": "fecf2cfa9fe037d3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Descobrimento do Brasil",
                "value": -14822254412000,
                "type": "num"
            },
            {
                "label": "Independência",
                "value": -4648913612000,
                "type": "num"
            },
            {
                "label": "Dia da Padroeira",
                "value": -7959329612000,
                "type": "num"
            },
            {
                "label": "Proclamação da República",
                "value": -2528571212000,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "1a30907cad761ac0"
            ]
        ]
    },
    {
        "id": "4868fc7a92db22b2",
        "type": "ui_button",
        "z": "7d923ceed559ddc6",
        "name": "",
        "group": "fecf2cfa9fe037d3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Hoje",
        "tooltip": "Ajusta a data para o dia de hoje",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-calendar",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "1a30907cad761ac0"
            ]
        ]
    },
    {
        "id": "4decc195413b8916",
        "type": "ui_text",
        "z": "7d923ceed559ddc6",
        "group": "fecf2cfa9fe037d3",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Saída",
        "format": "{{msg.payload}} : {{msg.localeDate}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "73a2ef9d8d88f52e",
        "type": "function",
        "z": "7d923ceed559ddc6",
        "name": "Data Local",
        "func": "// Obtém data à partir do timestamp\nmsg.date = new Date(msg.payload);\n// Obtém data no formato local à partir da data\nmsg.localeDate = msg.date.toLocaleDateString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 60,
        "wires": [
            [
                "4decc195413b8916"
            ]
        ]
    },
    {
        "id": "fecf2cfa9fe037d3",
        "type": "ui_group",
        "name": "Datas",
        "tab": "37d956f40f2a12c5",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "37d956f40f2a12c5",
        "type": "ui_tab",
        "name": "GNR 9",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]