flows/capitulo6/Notificacoes_flow.json
[
    {
        "id": "1663992f032fe9d6",
        "type": "tab",
        "label": "Notificações",
        "disabled": false,
        "info": "Este fluxo mostra o uso dos nós audio_out \r\ne notification para a sinalização de \r\neventos específicos de um fluxo com \r\nmensagens sonoras e visuais.\r\n\r\nO nó inject gera dados na faixa de \r\n[80, 120], de 10 em 10 segundos, enviados \r\npara widgets chart e gauge.\r\n\r\nAlém disso, os dados também são encaminhados \r\npara um nó switch, que identifica aqueles \r\nabaixo de 85 e acima de 115, usando suas \r\nduas saídas para ativar nós change \r\ncorrespondentes para preparar mensagens \r\nde alerta a serem enviadas ao widget audio_out \r\npara que sejam sintetisadas como fala e também \r\npara nós notification com configurações \r\num pouco diferentes para prover uma \r\nsinalização visual destas situações.\r\n ",
        "env": []
    },
    {
        "id": "8b28e97025d2c6e8",
        "type": "inject",
        "z": "1663992f032fe9d6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "80 + $random() * 40",
        "payloadType": "jsonata",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "5c1761d4bcbd532c",
                "3e5cf54f6ed39562",
                "d76e75ade94eed30"
            ]
        ]
    },
    {
        "id": "5c1761d4bcbd532c",
        "type": "switch",
        "z": "1663992f032fe9d6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "115",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "85",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "c4897ec4c8edfdf4"
            ],
            [
                "6c0ee7fc7ad64f7e"
            ]
        ]
    },
    {
        "id": "3e5cf54f6ed39562",
        "type": "ui_gauge",
        "z": "1663992f032fe9d6",
        "name": "",
        "group": "d3aa275fda6751ad",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "Nível",
        "label": "",
        "format": "{{value | number:1}}",
        "min": "80",
        "max": "120",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "d76e75ade94eed30",
        "type": "ui_chart",
        "z": "1663992f032fe9d6",
        "name": "",
        "group": "d3aa275fda6751ad",
        "order": 2,
        "width": "8",
        "height": "6",
        "label": "Gráfico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b31e3c",
            "#808080",
            "#00ffff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 280,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c4897ec4c8edfdf4",
        "type": "change",
        "z": "1663992f032fe9d6",
        "name": "Alerta V+",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alerta: valor alto!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Alerta",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 60,
        "wires": [
            [
                "646fb734882b36de",
                "8e9cb68c1954a4d0"
            ]
        ]
    },
    {
        "id": "646fb734882b36de",
        "type": "ui_audio",
        "z": "1663992f032fe9d6",
        "name": "",
        "group": "d3aa275fda6751ad",
        "voice": "Microsoft Daniel - Portuguese (Brazil)",
        "always": true,
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "6c0ee7fc7ad64f7e",
        "type": "change",
        "z": "1663992f032fe9d6",
        "name": "Alerta V-",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alerta: valor baixo!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 140,
        "wires": [
            [
                "646fb734882b36de",
                "5190018e5473720e"
            ]
        ]
    },
    {
        "id": "5190018e5473720e",
        "type": "ui_toast",
        "z": "1663992f032fe9d6",
        "position": "bottom right",
        "displayTime": "5",
        "highlight": "#0000FF",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Notificação V-",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "8e9cb68c1954a4d0",
        "type": "ui_toast",
        "z": "1663992f032fe9d6",
        "position": "top right",
        "displayTime": "5",
        "highlight": "#FF0000",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Notificação V+",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "d3aa275fda6751ad",
        "type": "ui_group",
        "name": "Alerta",
        "tab": "08011c3706abf9c3",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "08011c3706abf9c3",
        "type": "ui_tab",
        "name": "GNR 5",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]