flows/capitulo7/SQLite_1_flow.json
[
    {
        "id": "4f8d31efab7c3434",
        "type": "tab",
        "label": "SQLite 1",
        "disabled": false,
        "info": "Fluxo que mostra o uso do nó sqlite na \r\nrealização de consultas SQL a um banco de \r\ndados SQLite 3 existente e configurado \r\napenas para leitura.",
        "env": []
    },
    {
        "id": "11afc62ae33476dd",
        "type": "sqlite",
        "z": "4f8d31efab7c3434",
        "mydb": "238ee16b7853b23b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "567fab574e37eebe"
            ]
        ]
    },
    {
        "id": "9fd55e20cf275f85",
        "type": "inject",
        "z": "4f8d31efab7c3434",
        "name": "Genres",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from genres",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "11afc62ae33476dd"
            ]
        ]
    },
    {
        "id": "567fab574e37eebe",
        "type": "debug",
        "z": "4f8d31efab7c3434",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "2872d6f03a64864b",
        "type": "inject",
        "z": "4f8d31efab7c3434",
        "name": "Artists",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from artists",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "11afc62ae33476dd"
            ]
        ]
    },
    {
        "id": "f75549052ead3960",
        "type": "inject",
        "z": "4f8d31efab7c3434",
        "name": "Albums",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select A.*, B.Name from Albums A, Artists B where A.ArtistId = B.ArtistId",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "11afc62ae33476dd"
            ]
        ]
    },
    {
        "id": "238ee16b7853b23b",
        "type": "sqlitedb",
        "db": "flows/capitulo7/chinook.db",
        "mode": "RO"
    }
]