fluxos/capitulo2/Ultimos_5_flow.json
[
    {
        "id": "3b078654.71c25a",
        "type": "subflow",
        "name": "rolling avg",
        "info": "Este subfluxo efetua o cálculo da média móvel \r\ndos 5 últimos valores de payload, armazenando\r\no resultado na propriedade msg.media.\r\n\r\nTambém determina o valor máximo da série de \r\nvalores recebida, armazenada em msg.maximo.",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "c02793d8.a907a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 610,
                "y": 40,
                "wires": [
                    {
                        "id": "c02793d8.a907a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 600,
                "y": 120,
                "wires": [
                    {
                        "id": "c02793d8.a907a",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "Rolling Average and Maximum",
            "version": "1.0.0",
            "author": "pjandl@live.com",
            "desc": "Média móvel dos 5 últimos valores de payload.",
            "keywords": "rolling average, maximum, function",
            "license": "GPL-3.0"
        },
        "color": "#DDAA99",
        "inputLabels": [
            "input"
        ],
        "outputLabels": [
            "rolling_avg",
            "maximum"
        ]
    },
    {
        "id": "c02793d8.a907a",
        "type": "function",
        "z": "3b078654.71c25a",
        "name": "Simple Rolling Average and Maximum",
        "func": "let values = context.get(\"values\");\nlet nextPos = context.get(\"nextPos\");\nlet max = context.get(\"maximum\");\n\n// determina valor máximo\nif (max == null) max = msg.payload;\nelse if (max < msg.payload) max = msg.payload;\ncontext.set(\"maximum\", max);\n// define msg para 2a saída\nlet msg2 = RED.util.cloneMessage(msg);\nmsg2.maximum = max;\n\n// determina média móvel simples dos 5 últimos valores\nvalues[nextPos] = msg.payload;\ncontext.set(\"nextPos\", (nextPos + 1) % 5);\ncontext.set(\"values\", values);\nlet sum = 0;\nlet q = 0;\nfor(let p = 0; p < 5; p++) {\n    if (values[p] != null) {\n        sum += values[p];\n        q++;\n    }\n}\n// completa msg para 1a saída\nmsg.average = sum / q;\n\nreturn [msg, msg2];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"nextPos\", 0);\ncontext.set(\"values\", [null,null,null,null,null]);\ncontext.set(\"maximum\", null);",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ac6da392.5ced",
        "type": "tab",
        "label": "Últimos 5",
        "disabled": false,
        "info": "Aplicação do subfluxo rolling_avg,\r\nrepresentado como um nó simples, que\r\ncalcula a média móvel dos últimos 5 valores\r\nrecebidos pelo subfluxo.\r\n\r\nO subfluxo contém um nó function\r\nresponsável pela realização do cálculo da\r\nmédia móvel e indicação do valor máximo \r\nrecebido."
    },
    {
        "id": "3f6e44a0.fb80cc",
        "type": "subflow:3b078654.71c25a",
        "z": "ac6da392.5ced",
        "name": "",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "7ce37f0d.28574"
            ],
            [
                "6bddc184.5abd1"
            ]
        ]
    },
    {
        "id": "9b533a87.0011e8",
        "type": "inject",
        "z": "ac6da392.5ced",
        "name": "[1,100]",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$ceil(100 * $random())",
        "payloadType": "jsonata",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "3f6e44a0.fb80cc",
                "80b3cc49.8b871"
            ]
        ]
    },
    {
        "id": "7ce37f0d.28574",
        "type": "debug",
        "z": "ac6da392.5ced",
        "name": "média móvel",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "average",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "6bddc184.5abd1",
        "type": "debug",
        "z": "ac6da392.5ced",
        "name": "máximo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "maximum",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "80b3cc49.8b871",
        "type": "debug",
        "z": "ac6da392.5ced",
        "name": "valor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 530,
        "y": 40,
        "wires": []
    }
]